<div>
    <nav>
        <div class="explore">
        <a href="#">Discover</a>
        </div>
        <div class="logo"><a href="/"><img src="/images/trailr-hero.png" alt=""></a></div>
        <div class="account-sign">
        <a href="#" class="about-us">About</a>
        <% if !!!session["user_id"] %>
            <a href="/signup"><button class="sign-up">Sign up</button></a>
            <a href="/login"><button class="log-in">Log in</button></a>
            <% else %>
            <a href="/trails/new"><button class="sign-up">New Post</button></a>
            <form action="/login" method="post">
            <input type="hidden" name="_method" value="delete">
            <button class="log-in">Log out</button>
            </form>
        <% end %>
        </div>
    </nav>
</div>

<div class="header-wrapper">
    <div class="header-welcome">
        <% if logged_in? %>
        <h2>Welcome <%= current_user["username"] %>,</h2>
        <% else %>
        <h2>Welcome,</h2>
        <% end %>
        <p>
        Every week we get new trails for which you can organise to go with 
        people from your local area or further out once COVID restrictions have raised.
        The perfect way to get out of isolation and meet someone new. 
        </p>
        <p>
        Freely make a post of your favorite trail and then set it to Open-Hike mode 
        so that people can click attending on your event and join in on day that it is happening.
        </p>
        <h4>In the meantime, explore the trails that are available!</h4>

    </div>
    <div class="header-map">
    <iframe
        width="100%"
        height="100%"
        frameborder="0" style="border:0; border-radius:15px"
        src="https://www.google.com/maps/embed/v1/view?key=AIzaSyChvPbQEGDG8V3tgyO2PPXkQ0doBVaF97k
        &center=-37.8296,144.9758&zoom=16&maptype=satellite" allowfullscreen>
    </iframe>
    </div>
</div>
<div class="search-bar">
    <p>Melbourne</p>
    <form action="/search">
    <input class="search-bar" type="text" onkeyup="key_up(this)">
    </form>
</div>

<% all_trails.each do |trail| %>
<div class="feed-tile">
    <div class="feed-image">
        <img src="<%= trail["image_url"] %>" alt="">
    </div>
    <div class="feed-description">
        <h1><%= trail["title"] %></h1>
        <p>Difficulty: <%= trail["difficulty"] %></p>
        <p>Rating: <%= trail["rating"] %>/ 5</p>
        <p class="trail-description" style="white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 500px;
            height: 15px;">
    Description: <%= trail["description"] %></p><a href="/trails/<%= trail["id"] %>">see more</a>
    </div>
</div>
<% end %>