<div>
    <nav>
        <div class="explore">
        <a href="#">Discover</a>
        </div>
        <div class="logo"><a href="/"><img src="/images/trailr-hero.png" alt=""></a></div>
        <div class="account-sign">
        <a href="#" class="about-us">About</a>
        <% if !!!session["user_id"] %>
            <a href="/signup"><button class="sign-up">Sign up</button></a>
            <a href="/login"><button class="log-in">Log in</button></a>
            <% else %>
            <a href="/trails/new"><button class="sign-up">New Post</button></a>
            <form action="/login" method="post">
            <input type="hidden" name="_method" value="delete">
            <button class="log-in">Log out</button>
            </form>
        <% end %>
        </div>
    </nav>
</div>

<div class="show-one-trail">
    <div class="show-image">
        <img src="<%= trail["image_url"] %>" alt="">
    </div>
    <div class="show-info">
        <h1><%= trail["title"] %></h1>
        <p><%= trail["difficulty"] %></p>
        <p>Rating: <%= trail["rating"] %></p>
        <p class="trail-description">Description: <%= trail["description"] %></p>
    </div>
    <% if trail["user_id"] == session["user_id"] %>
        <a href="/trails/<%= trail["id"] %>/edit"><button>Edit trail</button></a>
        
        <form action="/trails" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="hidden" name="id" value="<%= trail["id"] %>">
        <button>Delete trail</button>
        </form>
    <% end %>
</div>